* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back {
    background-color: rgb(88, 212, 212);
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 3%;
}

.card__items {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1 1 33.333%;

}

.card {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    margin: 3%;
    justify-content: flex-start;

}

.card img {
    width: 100%;
}